root = "."
tmp_dir = "build"

[build]
  bin = "build/gogeo"
  cmd = "make"
  delay = 1000
  exclude_dir = ["assets", "build", "frontend/build", "frontend/node_modules", "vendor"]
  exclude_file = []
  exclude_regex = [".*_gen.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "html", "css", "svelte", "ts", "js", "css"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false

[proxy]
  enabled = true
  proxy_port = 3333
  app_port = 3000
  app_start_timeout = 15000
