package templates

import "github.com/nilptrderef/gogeo/internal/common"

templ Index(geojson common.GeoJson) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>GoGeo</title>
			<link href="css/style.css" rel="stylesheet"/>
			<script src="msgpack.min.js"></script>
			<script src="index.js" defer></script>
		</head>
		<body>
			<p id="geojson-container"></p>
		</body>
	</html>
}
